---
version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/test-partner"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/testapp/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
